body {
	background-color: #AFF0F0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

h1 {
	color: #9f93eb;
}

h2 {
	color: #9f93eb;
}

p {
	font-weight: bold;
}

button {
	border: none;
	border-radius: 10px;
	font-weight: bold;
	color: #30308a;
	background-color: #9f93eb;
}

.back-btn {
	position: absolute;
	top: 0;
	right: -10%;
}

.back-btn > h3 {
	padding-left: 30px;
	padding-right: 30px;
}

.right-packed {
	margin-left: 35%;
}

.left-packed {
	margin-right: 35%;
}

#secondary-navbar {
	position: absolute;
	bottom: 10px;
}

#secondary-navbar > a {
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	color: #42adef;
}

#secondary-navbar > a:hover {
	color: darkblue;
}

#secondary-navbar > a:visited {
	color: purple;	
}